<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{include file="public/head" /} 
{include file="public/left" /} 
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        <h3>{$title}</h3>
    </div>
    <ol class="am-breadcrumb">
        <li><a href="{:url('/admin/index')}" class="am-icon-home">首页</a></li>
        <li class="am-active">{$title}</li>
    </ol>
    <div class="tpl-portlet-components">
        <div>
            <ul>

            </ul>
        </div>


        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default am-btn-success" onclick="urlto('{$start}')"><span class="am-icon-plus"></span> 新增</button>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                        <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    <!--<th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>-->
                                    <th class="table-id">ID</th>
                                    <th class="table-set">收货人</th>
                                    <th class="table-set">收货地</th>
                                    <th class="table-set" >收货人联系方式</th>
                                    <th class="table-set">发货人</th>
                                    <th class="table-set" >发货人联系方式</th>
                                    <th class="table-set">件数</th>
                                    <th class="table-date">是否直送</th>
                                    <th class="table-date am-hide-sm-only">下单时间</th>
                                    <!--<th class="table-date am-hide-sm-only">修改日期</th>-->
                                    <th class="table-set">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name='data.data' id='user' empty='没有数据了~'}
                                <tr>
                                    <!--<td><input type="checkbox"></td>-->
                                    <td>{$user.id}</td>
                                    <td>{$user.getname}</td>
                                    <td>{$user.cityName}</td>
                                    <td>{$user.getphone}</td>
                                    <td>{$user.postname}</td>
                                    <td>{$user.postphone}</td>
                                    <td>{$user.number}</td>
                                    <td>{$user.address}</td>
                                    <td>{$user.createdTime}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary operategoods" start="{$start}"  value="{$user.id}"><span class="am-icon-pencil-square-o"></span> 处理此订单</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delgoods" value="{$user.id}"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            <div class="am-fr">
                                {$page}  
                            </div>
                        </div>
                        <hr>

                    </form>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>
    {include file="public/foot" /} 
    <script src="/admin/js/index.js"></script>
