<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{include file="public/head" /} 
{include file="public/left" /} 
<div class="tpl-content-wrapper">
    
    <div class="tpl-content-page-title">
        Amaze UI 首页组件
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
<!--        <li><a href="#">分类</a></li>
        <li class="am-active">内容</li>-->
    </ol>
    <div class="tpl-content-scope">
        <div class="note note-info">
            <h3>使用说明：
                <span class="close" data-close="note"></span>
            </h3>
            <p> 发货流程：1.发货页面点击新增，2.发车页面选中当日的货，点击装车即可，3.到货页面，确定好装货日期，即可查货</p>
        </div>
    </div>
<!--    <div class="tpl-content-scope">
        <div class="note note-info">
            <h3>Amaze UI 为移动而生
                <span class="close" data-close="note"></span>
            </h3>
            <p> Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
            <p><span class="label label-danger">提示:</span> Amaze UI 关注中文排版，根据用户代理调整字体，实现更好的中文排版效果。
            </p>
        </div>
    </div>
    <div class="tpl-content-scope">
        <div class="note note-info">
            <h3>Amaze UI 为移动而生
                <span class="close" data-close="note"></span>
            </h3>
            <p> Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
            <p><span class="label label-danger">提示:</span> Amaze UI 关注中文排版，根据用户代理调整字体，实现更好的中文排版效果。
            </p>
        </div>
    </div>
    <div class="tpl-content-scope">
        <div class="note note-info">
            <h3>Amaze UI 为移动而生
                <span class="close" data-close="note"></span>
            </h3>
            <p> Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
            <p><span class="label label-danger">提示:</span> Amaze UI 关注中文排版，根据用户代理调整字体，实现更好的中文排版效果。
            </p>
        </div>
    </div>-->
</div>


{include file="public/foot" /} 