<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{include file="public/head" /} 
{include file="public/left" /} 
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        <h3>{$title}</h3>
    </div>
    <ol class="am-breadcrumb">
        <li><a href="{:url('/admin/index')}" class="am-icon-home">首页</a></li>
        <li class="am-active">{$title}</li>
    </ol>

    <div class="tpl-portlet-components">
        <div class="am-u-sm-12 am-u-md-12">
            <div class="portlet-title">
                <div class="am-form-group">
                    <div class="tpl-block">
                        <div class="am-g">
                            <form action="{:url('admin/getgoods/index')}" class="am-form am-form-horizontal am-u-md-centered" >
                                <input type='text' name='local' value="{$local}" style='display: none;'>
                                <label for="month_date" class="am-u-sm-6 am-u-md-4 caption font-green bold" style="text-align: right;">发车日期</label>

                                <div class="am-u-sm-6 am-u-md-3 ">
                                    <input type="text" name='month_date' id="month_date" class="am-form-field" placeholder="{$month_date}" value="{$month_date}" data-am-datepicker readonly required />
                                </div>
                                <div class="am-input-group am-input-group-md am-u-md-3">
                                    <input name="getname" placeholder="输入收货人名字以检索"   <?php if($getname){  ?> value={$getname} <?php  } ?>    type="text" class="am-form-field" style="text-align: left;">
                                           <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="submit"></button>
                                    </span>
                                </div>
                                <!--<button type="submit" class="am-btn am-btn-primary  am-u-sm-12 am-show-sm-only">查询</button>-->
                                <!--<button type="submit" class="am-btn am-btn-primary am-hide-sm-only">查询</button>-->
                            </form>
                            <!--                            <div class="am-u-sm-12 am-u-md-3">
                                                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                            <tr>
                                <!--<th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>-->
                                <!--<th class="table-id">ID</th>-->
                                <th class="table-set">件数</th>
                                <th class="table-set">收货人</th>
                                <th class="table-set am-hide-sm-only">收货地</th>
                                <th class="table-set" >收货人联系方式</th>
                                <th class="table-set">发货人</th>

                                <th class="table-set am-hide-sm-only" >运费</th>
                                <th class="table-set am-hide-sm-only" >支付方式</th>
                                <th class="table-set am-hide-sm-only" >是否支付</th>
                                <th class="table-set am-hide-sm-only" >中转</th>
                                <th class="table-set am-hide-sm-only" >直达</th>

                                <th class="table-date am-hide-sm-only">是否直送</th>
                                <!--<th class="table-date am-hide-sm-only">下单时间</th>-->
                                <!--<th class="table-date am-hide-sm-only">修改日期</th>-->
                                <th class="table-set am-hide-sm-only">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='data.data' id='user' empty='没有数据了~'}
                            <tr>
                                <!--<td><input type="checkbox"></td>-->
                                <td>{$user.number}</td>
                                <td>{$user.getname}</td>
                                <td class="am-hide-sm-only">{$user.cityName}</td>
                                <td>{$user.getphone}</td>
                                <td>{$user.postname}</td>

                                <td class="am-hide-sm-only">{$user.money}</td>
                                <td class="am-hide-sm-only">{$user.paymethod}</td>
                                <td class="am-hide-sm-only">{$user.is_pay}</td>
                                <td class="am-hide-sm-only">{$user.zhongzhuan}</td>
                                <td class="am-hide-sm-only">{$user.zhida}</td>

                                <td class="am-hide-sm-only">{$user.address}</td>
                                <!--<td>{$user.createdTime}</td>-->

                                <td class="am-hide-sm-only">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 详情</button>
                                            <!--<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delgoods" value="{$user.id}"><span class="am-icon-trash-o"></span> 删除</button>-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <div class="am-cf">
                        <div class="am-fr">
                            {$page}  
                        </div>
                    </div>
                    <hr>

                </form>
            </div>

        </div>


    </div>


</div>


{include file="public/foot" /} 