<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{include file="public/head" /}
{include file="public/left" /}
<style>

    #pic_list
    {

        display:block;
        white-space:nowrap;
        width:500px;
        overflow:auto;
    }
    #pic_list li
    {
        width:40px;
        height:40px;
        margin:5px;
        text-align: center;
        font-size: x-large;
        background:whitesmoke;
        display:inline-block;
    }
</style>
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        {$title}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="admin/index" class="am-icon-home">首页</a></li>
        <li class="am-active">{$title}</li>
    </ol>
    <div class="tpl-portlet-components" style="padding: 0px">
        <!--<div class="tpl-block am-scrollable-horizontal">-->
            <table class="am-table am-table-bordered am-table-striped am-table-hover am-text-sm">
                <thead>
                <tr>
                    <th class="am-hide-sm-only">序号</th>
                    <th class="am-hide-sm-only">发货日期</th>
                    <th>姓名/手机</th>
                    <th>货号</th>
                    <th class="am-hide-sm-only">发货地</th>
                    <th>短信发送时间</th>
                </tr>
                </thead>
                <tbody id="form-data">
                {volist name='data' id='item'}
                <tr>
                    <td class="am-hide-sm-only"> {$item.id}</td>
                    <td class="am-hide-sm-only"> {$item.date}</td>
                    <td> <div>{$item.name}</div> <div>{$item.phone}</div></td>
                    <td> {$item.number}</td>
                    <td class="am-hide-sm-only"> {$item.city}</td>
                    <td> {$item.post_date}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <!--<div class="am-cf">-->
                <div id="pic_list">
                    {$page}
                </div>
            <!--</div>-->
        <!--</div>-->

    </div>
</div>
</div>
</div></div>
{include file="public/foot" /}
<script src="/admin/js/index.js"></script>
<!--<script src="/admin/js/historyShow.js"></script>-->