<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{include file="public/head" /}
{include file="public/left" /}
<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        {$title}
    </div>
    <ol class="am-breadcrumb">
        <li><a href="admin/index" class="am-icon-home">首页</a></li>
        <li class="am-active">{$title}</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="tpl-block ">
            <table class="am-table am-table-bordered am-table-striped am-table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>发货日期</th>
                    <th>姓名/手机</th>
                    <th>货号</th>
                    <th>短信发送时间</th>
                </tr>
                </thead>
                <tbody>

                <tr class="">
                    <td></td>
                    <td>2012-10-01</td>
                    <td>小袁/13439483372</td>
                    <td>50-3</td>
                    <td>2012-10-01 12:34:22</td>
                </tr>
                <tr class="">
                    <td></td>
                    <td>2012-10-01</td>
                    <td>小袁/13439483372</td>
                    <td>50-3</td>
                    <td>2012-10-01 12:34:22</td>
                </tr>
                <tr class="">
                    <td></td>
                    <td>2012-10-01</td>
                    <td>小袁/13439483372</td>
                    <td>50-3</td>
                    <td>2012-10-01 12:34:22</td>
                </tr>
                <tr class="">
                    <td></td>
                    <td>2012-10-01</td>
                    <td>小袁/13439483372</td>
                    <td>50-3</td>
                    <td>2012-10-01 12:34:22</td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
</div></div>
{include file="public/foot" /}
<script src="/admin/js/index.js"></script>