<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
  <div class="layout-footer">
    <div class="footer">
      <div style="background-color:#383d61" class="footer--bg"></div>
      <div class="footer--inner">
        <div class="container">
          <div class="footer_main">
            <div class="am-g">
              <div class="am-u-md-6 ">
                <div class="footer_main--column">
                  <strong class="footer_main--column_title">关于我们</strong>
                  <div class="footer_about">
                      <p class="footer_about--text">
                        义乌市品弟托运部，致力成为以客户为中心，覆盖快递、快运、整车、仓储与供应链、跨境等多元业务的综合性物流供应商。
                        我们凭借坚实的网络基础、强大的人才储备、深刻的市场洞悉，为跨行业的客户创造多元、灵活、高效的物流选择，让物流赋
                        予企业更大的商业价值，赋予消费者更卓越的体验。品弟始终紧随客户需求而持续创新，坚持自营门店与事业合伙人相结合的
                        网络拓展模式，搭建优选线路，优化运力成本，为客户提供快速高效、便捷及时、安全可靠的服务。
                      </p>
                      <p class="footer_about--text">
                        <!--云适配跨屏云也成功应用于超过30万家企业网站，包括微软、联想等世界500强企业-->
                      </p>
                    </div>
                </div>
              </div>

<!--              <div class="am-u-md-3 ">
                <div class="footer_main--column">
                  <strong class="footer_main--column_title">产品中心</strong>
                  <ul class="footer_navigation">
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">Enterplorer 企业浏览器</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">Xcloud 网站跨屏云</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">Amaze UI 前端开发框架</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">Amaze UI 前端开发框架</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">Amaze UI 前端开发框架</a></li>
                  </ul>
                </div>
              </div>-->

<!--              <div class="am-u-md-3 ">
                <div class="footer_main--column">
                  <strong class="footer_main--column_title">技术支持</strong>
                  <ul class="footer_navigation">
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">企业移动信息化白皮书</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">企业移动信息化白皮书</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">企业移动信息化白皮书</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">企业移动信息化白皮书</a></li>
                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">企业移动信息化白皮书</a></li>
                  </ul>
                </div>
              </div>-->

              <div class="am-u-md-3 ">
                <div class="footer_main--column">
                  <strong class="footer_main--column_title">联系详情</strong>
                  <ul class="footer_contact_info">
                    <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>服务专线：021 5107-3088</span></li>
                    <li class="footer_contact_info--item"><i class="am-icon-envelope-o"></i><span>602261903@qq.com</span></li>
                    <li class="footer_contact_info--item"><i class="am-icon-map-marker"></i><span>上海市嘉定区曹安公路2300弄新世界休闲广场7号楼北面</span></li>
                    <li class="footer_contact_info--item"><i class="am-icon-clock-o"></i><span>ALL DAY, 9am - 6 pm; </span></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
      <div >
          <p class="footer_contact_info--item" >
              © 2018-2020 pindi3088.cn 版权所有 ICP证：
              <a href="http://www.miitbeian.gov.cn/"> 浙ICP备18015916号-1 </a> 
          </p>
      </div>
        </div>
      
      </div>
    </div>
  </div>
  <script src="/public/js/jquery.min.js" charset="utf-8"></script>
  <script src="/public/js/amazeui.min.js" charset="utf-8"></script>
  <script src="/public/js/common.js" charset="utf-8"></script>